html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#div-welcome{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


#div-content {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#div-page {
    background-color: aquamarine;
    width: 40%;
    text-align: center;
    flex: 1;
}

button {
    margin: 30px;
}
