*{
    background-color: rgb(151, 114, 72);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
}

.div-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-names{
    width: 40%;
    border: 5px solid rgb(114, 84, 50);
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    padding: 50px;
}

.div-cont-hand{
    margin: 40px;
}

.hand {
    font-size: 80px;
    display: inline-block;
    position: relative;
}

.player-hand {
    transform: rotate(90deg) scaleX(-1);
}

.cpu-hand {
    transform: rotate(-90deg);
}

.hand-anim {
    animation: shake 0.4s ease-in-out 3;
}

@keyframes shake {
    0% { transform: translateY(0) rotate(90deg) scaleX(-1); }
    50% { transform: translateY(-25px) rotate(90deg) scaleX(-1); }
    100% { transform: translateY(0) rotate(90deg) scaleX(-1); }
}

.cpu-hand.hand-anim {
    animation: shakeCpu 0.4s ease-in-out 3;
}

@keyframes shakeCpu {
    0% { transform: translateY(0) rotate(-90deg); }
    50% { transform: translateY(-25px) rotate(-90deg); }
    100% { transform: translateY(0) rotate(-90deg); }
}


button{
    background: rgba(102, 77, 49, 0.45);   /* efecto glass */
    color: #fff;
    padding: 14px 38px;
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(6px);            /* desenfoque */
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;

    box-shadow: 
        0 6px 0 rgba(70, 52, 33, 0.8),     /* efecto 3D */
        0 10px 18px rgba(0,0,0,0.25);      /* sombra suave */
    
    transition: 0.2s ease;
}

button:hover{
    background: rgba(102, 77, 49, 0.65);
    transform: translateY(-2px);
    box-shadow: 
        0 7px 0 rgba(70, 52, 33, 0.9),
        0 14px 22px rgba(0,0,0,0.30);
}

button:active{
    transform: translateY(4px);
    box-shadow: 
        0 2px 0 rgba(70, 52, 33, 0.9),
        0 6px 10px rgba(0,0,0,0.25);
    background: rgba(102, 77, 49, 0.75);
}


.div-container-buttons{
    width: 30%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.div-footer{
    margin: 0;
    padding: 30px;
    background-color: rgb(66, 49, 29);
    color: #f2e9dd;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 100%;
}

.div-footer p{
    background-color: rgb(66, 49, 29);
}


/* Instagram fade */
.div-footer a.insta{
    background: linear-gradient(90deg, #e7c9a7 0%, #ff7a7a 50%, #ffbb00 100%);
    -webkit-background-clip: text;
    color: transparent !important; 
    opacity: 0.7;
    transition: opacity 0.4s ease;
}
