* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-main {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 80px 1fr;
    height: 100vh;
}

.div-nav {
    grid-row: 1 / 3;
    background-color: rgb(0, 153, 255);
    color: white;
}


.div-nav h1{
    margin: 20px;
}

hr{
    padding: 30px;
    border: none;
}

.div-nav ul{
    margin-left: 50px;
    font-weight: bold;
    list-style-type: none;
    margin-top: 30px;
}

.div-nav li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.icon-nav {
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 5px;
}

.div-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(255, 255, 255);
}

.div-screen {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(226, 226, 226);
}