*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #ececec;
    display: flex;
    flex-direction: row;
}


.div-img-part {
    flex: 1;
    height: 100vh;
}

.div-img-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-form {
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

.title {
  font-weight: bold;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 4px;
  color: #333;
}

input {
  padding: 6px 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

input:focus {
  outline: none;
  border-color: #4a63e7;
  box-shadow: 0 0 3px rgba(74, 99, 231, 0.5);
}

.div-text-part {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
  width: 200px;
  padding: 10px 15px 10px 15px;
  border: none;
  background-color: #596D48;
  color: white;
  margin: 30px;
  font-weight: bold;
  border-radius: 6px;
}

.p-already{
  margin: 30px;
}
