@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif !important;
}
body {
    font-weight: 400;
    font-style: normal;
    background-color: rgb(168, 168, 168);

}

.div-container {
    position: relative;
    top: 30px;
    border: 1px solid black;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

#grid-container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.div-btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

button {
    padding: 10px 5px;
    border-radius: 5px;
}

#eraser-btn {
    display: block;
    margin: 20px auto;
}

p{
    color: white;
    background-color: blueviolet;
    padding: 7px;
    display: flex;
    justify-content: center;
}

