*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-main{
    width: 80%;
    margin: auto;

}

.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.section-header a{
    color: white;
    text-decoration: none;
}

.div-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: right !important;
}