*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-main{
    width: 100%;
    margin: auto;

}

.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.section-header h1{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    margin-left:100px;
}


.section-header a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.div-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: right !important;
    margin-right:100px;
}

.section-title{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
}

.div-hero{
    width: 33%;
    color: #F9FAF8;
    margin-left:100px;

    
}

.div-hero h1{
    font-size: 48px;
    font-weight: 900;

}

.div-hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.div-image{
    background-color: #646e73;
    color: white;
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:100px;

}

.btn-primary{
    text-decoration: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 7px;
}

.section-information{
    padding-bottom: 100px;
}

.section-information h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.div-cont-squares{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.div-content-square{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 250px;
}

.div-square{
    width: 100%;
    height: 100%;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.section-phrase{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.div-phrase{
    width: 60%;
    padding: 60px;
}

.p-phrase{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.p-author{
    font-weight: bold;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
}

.section-window{
    padding-top: 100px;
    padding-bottom: 100px;
}

.div-window{
    margin-left:200px;
    margin-right:200px;
    padding: 30px 50px;
    background-color: #3882F6;
    border-radius: 10px;
}

.div-window-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
    color: #E5E7EB;
}

.div-button a{
    color: #E5E7EB;
    text-decoration: none;
    border: 2px solid #E5E7EB;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 10px;
}

.section-footer{
    padding: 30px;
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
}