*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-main{
    width: 70%;
    margin: auto;

}

.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.section-header h1{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}


.section-header a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.div-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    float: right !important;
}

.section-title{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
}

.div-hero{
    width: 30%;
    color: #F9FAF8;
    
}

.div-hero h1{
    font-size: 48px;
    font-weight: 900;
}

.div-hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.div-image{
    background-color: #646e73;
    color: white;
    width: 40%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    text-decoration: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 7px;
}